<div class="content-wrapper animate__animated animate__fadeIn">
  <section class="content-header text-center"></section>

  <section class="content">
    <div class="row">
      <div class="col-md-6 welcome-text">
        <h3>DESEMPEÑO SG-SST</h3>
        <p>
          Bienvenido a la plataforma para medición de desempeño del Sistema de
          Gestión de Seguridad y Salud en el Trabajo. El objetivo de esta
          plataforma es encontrar puntos de mejora en el SG-SST para ofrecer
          mejor seguridad a los trabajadores de la Universidad Santo Tomás - Bogotá.
        </p>
        <button type="button" class="btn-standar-submit" (click)="btnSurveyRoute()">Comenzar</button>
      </div>
      <div class="col-md-6">
        <div class="gallery">
          <img
            src="https://usantotomas.edu.co/hubfs/Fachada_Angelico.jpg"
            alt="UST1"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Logotipo_USTA_Colombia.gif"
            alt="UST2"
          />
          <img
            src="https://universidadesyprofesiones.com/images/universidades/campus/universidad-santo-tomas-banner.jpg"
            alt="UST3"
          />
          <img
            src="https://www.eltiempo.com/files/article_main/uploads/2020/06/12/5ee3f580ab4e1.jpeg"
            alt="UST4"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/5/57/Campus_San_Alberto_Magno.jpg"
            alt="UST5"
          />
          <img
            src="https://escenario.usta.edu.co/images/IMG-20180201-WA0015.jpg"
            alt="UST6"
          />
          <img
            src="https://elfrente.com.co/repositorio_imagenes/EL_FRENTE_02020005009009056040_sdfffff.jpg"
            alt="UST7"
          />
        </div>

        <!--

          <div class="gallery">
            <img
            src="https://picsum.photos/id/1040/300/300"
            alt="a house on a mountain"
          />
          <img
            src="https://picsum.photos/id/106/300/300"
            alt="sime pink flowers"
          />
          <img
          src="https://picsum.photos/id/136/300/300"
          alt="big rocks with some trees"
          />
          <img
          src="https://picsum.photos/id/110/300/300"
          alt="a cool landscape"
          />
        </div>
      --></div>
    </div>
  </section>
</div>
